<nav class="navbar navbar-expand-sm bg-body-tertiary" style="background-color: #fffcf5;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login">Agenda</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-items">
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">Contatos</a>
        <li class="nav-item logoff-btn">
          <button class="btn btn-outline-danger" (click)="handleLogOff()" >Sair</button>
        </li>
      </ul>
    </div>
  </div>
</nav>