<div class="container">
  <div class="control-group">
    <div>
      <button class="btn btn-sm btn-primary" type="button" (click)="handleAdd()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    
    <div class="right-control">
      <form class="form search-container" role="search">
        <input class="form-control form-control-sm me-2" type="search" placeholder="Pesquisar" aria-label="Search" [(ngModel)]="query" name="query">
        <button class="btn btn-sm btn-outline-success" type="submit" (click)="handleSearch()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <div class="toggles">
        <a class="toggle-link" [ngClass]="searchToggle === 'createdAt' ? 'toggled' : 'untoggled'" (click)="handleSearchToggle('createdAt')" [routerLink]="">
          <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="orderToggle === 'DESC' && searchToggle === 'createdAt'"></i>
          <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="orderToggle === 'ASC' && searchToggle === 'createdAt'"></i>
          data
        </a>
        <a  class="toggle-link" [ngClass]="searchToggle === 'name' ? 'toggled' : 'untoggled'" (click)="handleSearchToggle('name')" [routerLink]="">
          <i class="fa fa-arrow-down" aria-hidden="true" *ngIf="orderToggle === 'DESC' && searchToggle === 'name'"></i>
          <i class="fa fa-arrow-up" aria-hidden="true" *ngIf="orderToggle === 'ASC' && searchToggle === 'name'"></i>
          nome
        </a>
      </div>

    </div>
    
  </div>
  


  <div class="column contact-list">
    <div class="contact-item" *ngFor="let contactItem of contactList; let i = index">
      <contact-item
        [(contact)]="contactList[i]"
      ></contact-item>
    </div>
  </div>
</div>