<div class="container text-center col-8" >  
    <div class="form-group title">
      <input type="text" class="form-control form-control-sm" placeholder="Nome*" name="name"
        [(ngModel)]="contact.name" 
        />
      <input type="text" class="form-control form-control-sm " placeholder="Sobrenome" name="lastName"
        [(ngModel)]="contact.lastName"/>
    </div>
    

    <div class="form-group contact">
      <div class="input-group">
        <label>E-Mail*</label>
        <input type="email" class="form-control form-control-sm" placeholder="E-mail*" name="email"
          [(ngModel)]="contact.email"/>
      </div>
      <div class="input-group">
        <label>Telefone</label>
        <input type="number" class="form-control form-control-sm" placeholder="Telefone" name="phone"  
          [(ngModel)]="contact.phone"/>
      </div>
    </div>


    <div class="form-group documents">
      <div class="input-group">
        <label>Documento</label>
        <input type="number" class="form-control form-control-sm" placeholder="Documento" name="document"
          [(ngModel)]="contact.document"/>
      </div>
      <div class="input-group">
        <label>Data de Nascimento</label>
        <input type="date" class="form-control form-control-sm" placeholder="Data de Nascimento" name="dateOfBirth"
          [(ngModel)]="contact.dateOfBirth"/>
      </div>
    </div>


    <div class="form-group address">
      <div class="address-group-1">
        <div class="input-group">
          <label>CEP</label>
          <input type="number" class="form-control form-control-sm" placeholder="CEP" name="zip"
            [(ngModel)]="contact.zip"/>
        </div>
    </div>

    <div class="form-group control">
      <button class="btn  remove-btn" (click)="handleRemove()"
        [ngClass]="deleteState ? 'btn-danger':'btn-outline-danger'"
      >
        {{deleteState ? 'Confirmar remoção':'Remover'}}
      </button>
      <button class="btn btn-outline-primary cancel-button" (click)="handleReturn()">return</button>
      <button class="btn btn-primary confirm-button" (click)="handleSave()">Save</button>
    </div>
  
</div>