<div class="container" role="main">
<!--
  
  <span>{{ title }} app is running!</span>
  
  
  <div>
    {{ test }}
    <input [(ngModel)]="test"/>
  </div>
  
  <user-filter
  [(filterComp)]="filterApp"
  ></user-filter>
  
  <div>
    <user-list 
    [users]="userList.filter(filterApp)">
  </user-list>
  
  <add-contact-form
  (addContact)="userList.push($event)"
  ></add-contact-form>

-->

<!--

  <login-form></login-form>
</div>


<contact-item
[(contact)]="contact"
></contact-item>

<contact-list
[(contactList)]="contactList"
></contact-list>


<contact-form
[(contact)]="contact"
></contact-form>
-->

<router-outlet></router-outlet>

<a routerLink="contact">contact</a>
<a routerLink="login">login</a>
</div>